body {
    background-image: url("../images/background.jpg");
    background-size: 100%;
}

// dark from tape #30252C
// yellow from tape #FCF0BC

.container {
    max-width: 920px;
    align-self: center;
}

button {
    background-color:#FCF0BC;
    font-size: 20px;
    color: #30252C;
}

#gifs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#header {
    display: flex;
}

#searchDiv {
    width: 50%;
}

#gifButtonArea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}